@import "gridstack/dist/gridstack.min.css";
@import "gridstack/dist/gridstack-extra.min.css";

.grid-stack {
  background: #f1f0f0;
}

::ng-deep .grid-stack-item-content {
  height: 100%;
}

::ng-deep .grid-stack-placeholder > .placeholder-content {
  /* border: 1px dashed lightgray;
  margin: 0;
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
  width: auto;
  z-index: 0 !important;
  text-align: center; */
}
