.widget-card {
  height: 100%;
  cursor: all-scroll;

  .widget-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
}
