<widget-layout-actions-panel
  [editModeOn]="isEditModeOn"
  (generateRandomLayout)="onRandomLayoutGenerated()"
  (addNewWidget)="addWidgetToLayout()"
  (editWidgetLayout)="toggleEditMode()"
/>
<div
  #widgetContainer
  class="nxt-draggable-layout"
  [nxtSortablejs]="widgets"
  [config]="configOptions"
>
  @for (widget of widgets; track widget.id) {
  <div
    [@pulse]="isNewWidgetAdded && $last"
    class="nxt-draggable-widget"
    [ngClass]="{
      'full-width-widget': widget.isFullWidth
    }"
    [style.backgroundColor]="widget.backgroundColor"
    [style.cursor]="isEditModeOn ? 'move' : 'no-drop'"
  >
    {{ widget.content }}
  </div>
  }
</div>
