<main #mainRef class="main">
  <!-- This is using mat-grid & cdkDragList. Have some concerns with animations -->
  <!-- <widget-grid-layout /> -->

  <!-- This is using third party library @ng-dnd (https://ng-dnd.github.io/ng-dnd/) -->
  <!-- <ng-dnd-widget-layout /> -->

  <!-- The is most advanced and reliable library solutions found so far (https://github.com/katoid/angular-grid-layout) -->
  <!-- <katoid-widget-layout /> -->

  <!-- This is simple library that has good Snyk score as well (https://www.npmjs.com/package/nxt-sortablejs?activeTab=readme)-->
  <!-- <nxt-sortablejs-layout (newWidgetAdded)="onNewWidgetAdded()" /> -->

  <!-- This is another grid layout like katoid but more advanced than it (https://www.npmjs.com/package/angular-gridster2) -->
  <gridster-grid-layout />
</main>
